@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --accent: #rgba(255, 255, 255, 0.2);
  --gradientCard: linear-gradient(
    to right,
    #000000,
    #1a1a1a,
    #2b2b2b,
    #444444,
    #5c5c5c,
    #777777,
    #999999,
    #cccccc,
    #ffffff
  );
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: background 0.3s ease-in-out;
}

.glassHovered:hover {
  background: rgba(0, 0, 0, 0.2); /* Ganti jadi warna solid saat hover */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
